/* Gradiente de fondo para el banner */
.bg-gradient {
    background: url('images/dark-night-with-stars.jpg') no-repeat center center fixed !important;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Sombra para el texto */
.text-shadow {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/* Hero Section Responsiveness */
.hero img {
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
}

@media (max-width: 768px) {
    .hero img {
        height: auto; /* Ajusta la altura automáticamente en pantallas pequeñas */
    }

    .hero .position-absolute {
        padding: 1rem; /* Reduce el padding del texto */
        font-size: 0.9rem; /* Reduce el tamaño del texto */
    }

    .hero h2 {
        font-size: 1.5rem; /* Reduce el tamaño del título */
    }

    .hero p {
        font-size: 0.9rem; /* Reduce el tamaño del párrafo */
    }
}

@media (max-width: 480px) {
    .hero .position-absolute {
        width: 90%; /* Asegura que el texto no ocupe todo el ancho */
    }

    .hero h2 {
        font-size: 1.2rem; /* Ajusta el tamaño del título aún más */
    }

    .hero p {
        font-size: 0.5rem;
    }
}

/* Botón del banner */
header .btn {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

header .btn:hover {
    background-color: #C44569;
    color: #fff;
    transform: scale(1.05);
}

#imganuncio{
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 auto;

}

#valores{
    text-align: center;
}

#valores p{
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    background-color: #e8c5f1;
    padding: 10px;
    border-radius: 10px;
}